version: "3.9"

services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: codein
      POSTGRES_PASSWORD: codein
      POSTGRES_DB: codein
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - codein

  backend:
    build: ./backend
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
    expose:
      - "8000"
    networks:
      - codein

  nginx:
    image: nginx:latest
    restart: always
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certbot:/var/www/certbot
      - ./nginx/ssl:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    networks:
      - codein

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certbot:/var/www/certbot
      - ./nginx/ssl:/etc/letsencrypt
    entrypoint: >
      sh -c "trap exit TERM; while :; do
      certbot renew --webroot -w /var/www/certbot;
      sleep 12h & wait $${!};
      done;"

volumes:
  pgdata:

networks:
  codein:
